/* buttons */

.buttons {		
	
	background-image: url(graphics/bar-transp-bg.png);
	background-repeat:no-repeat;
	background-position:top right;
	height:40px;
	width:535px;
	padding-left:8px;
	padding-top:7px;
	border-radius:8px;
	background-color:#FB8309;
	margin-bottom:0px;
}

a {
	text-decoration:none;	
}

a.button {
	font-family: Tahoma,Geneva,Kalimati,sans-serif;	
	font-size:11px;
	padding:8px 10px 0px 10px;
	height:22px;
	border-radius:8px;
	background-image:url(graphics/black_10_pct.png);
	display:block;
}

a.button:link,
a.button:visited,
a.button:active,
a.button:hover {
	color:#fff;
}

a.button:active {
	color:#000;
}

/* User settings - begin */

.user-settings {
	position:absolute;
	width:100%;
	height:100%;
	z-index:1000;
}

.user-settings .position {
	margin:0px 0px;
	margin-top:0px;
	width:600px;
}

.user-settings .layers {
	position:relative;
	width:100%;
	height:100%;
}

.user-settings .border {
	/*
	position:absolute;
	border-radius:8px;
	opacity:0.5;
	background-color:#000;
	width:600px;
	height:350px;
	*/
	
}

.user-settings .content {
	position:absolute;
	left:5px;
	top:5px;
	border-radius:8px;
	background-color:#fff;
	width:556px;
	border:2px solid #FF7F00;
	padding:15px;
}

.user-settings h1, p {
	font-family:Tahoma,Geneva,Kalimati,sans-serif;	
	font-size:17px;
	color:#000;
	margin:0px;padding:0px;
}

.user-settings p {
	font-size:12px;
}

.user-settings h1 + p {
	margin-top:15px;
}

.user-settings p + p {
	margin-top:10px;
}


.user-settings .header + .form {
	margin-top:15px;
}

.user-settings .header.welcome + .form {
	margin-top:30px;
}


.user-settings .form * {
	font-family:Tahoma,Geneva,Kalimati,sans-serif;	
	font-size:12px;
	color:#000;	
}

.user-settings .form input,
.user-settings .form textarea {
	padding:0px;
	margin:0px;
}

.user-settings .form .field {
}

.user-settings .form .field + .field {
	margin-top: 10px;
}

.user-settings .form .field .label {
	width:150px;
	float:left;
	clear:both;
	padding-top:3px;
}

.user-settings .form .field .input {
	margin-left:10px;
	width:383px;
	float:left;
}

.user-settings .form .field .input > input {
	height:14px;
	padding:3px;
	width:377px;
}

.option {
	margin-top:3px;
}

.user-settings .form .field .option + .option {
	margin-top:5px;
}

.user-settings .form .field .option > div {
	float:left;
}

.user-settings .form .field .option .mark {
	width:20px;
	padding-top:1px;
}

.user-settings .form .field .option .text {
	width:363px;
}

.user-settings .form .field .option.x .text input {
	width: 16px;
}


.user-settings .form textarea {
	height:48px;
	padding:3px;
	width:377px;
}

.user-settings .form .buttons {
	background-image:none;
	padding-right:10px;
	padding-bottom:10px;
	margin-top:10px;
	height:auto;
}

.user-settings .form .button {
	width:auto;
	float:right;
}

.user-settings .form .button + .button {
	margin-right:10px;
}

.bandwidth-use input {
    width:50px !important;
    float:left;
}

.bandwidth-use .text {
    float:left;
    margin-left:5px !important;
    margin-top:5px !important;
}



/* User settings - end */