label.my-accept-all-btn {
	margin-left:10px;
	position:relative;
	top:-3px;
}

label.my-accept-all-btn input {
	color:#fff;
}

.accept-all-info {
	margin-left:10px;	
}

.accept-all-popup {
	position:absolute;
	top:25px;
	left:0px;
	background-color:#fff;
	border:1px solid #000;
	height:300px;
	width:300px;
	display:none;
}